* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(253, 241, 241);
}


#nav {
    margin-top: 2vw;
    padding: 1vw;
    align-items: center;
}

#nav ul {
    display: flex;
    /* background-color: green; */

    justify-content: flex-end;
    align-items: center;
}

li {
    /* background-color: blue; */
    text-transform: capitalize;
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7vw;
    align-items: center;
}

.nav-icon {
    padding: auto;
    background-color: #181616;
    color: white;
    padding: 0.5vw;
    border-radius: 50%;
}

#center {
    margin: 1.9vw 4vw;

}

#center h4 {
    font-size: 3.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

#center-in {
    margin-top: 1.2vw;
    display: flex;
}

.center-left-p {
    padding: 1.5vw;
    width: 80%;
    /* background-color: red; */

}

#center-right {
    display: flex;
    /* background-color: blue; */
    width: 50%;
    flex-direction: column-reverse;
    align-items: end;
}

.elem1,
.elem2,
.elem3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    border-bottom: 2px solid rgb(92, 76, 76);
    margin-bottom: 1.2vw;

}

h3 {
    font-size: 2vw;
    font-family: cursive;
    color: rgb(48, 44, 44);
}


.elem1 i,
.elem2 i,
.elem3 i{
    font-size: 2vw;
    opacity: 0;
}

.elem1 i:hover{
    opacity: 1;
}
.elem2 i:hover{
    opacity: 1;
}
.elem3 i:hover{
    opacity: 1;
}